@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    font-family: 'Inter';
}
a{
    text-decoration:none ;
    color: black;  
}
a:hover{
    background-color: snow;
}
img{
    width: 600px;
    height: 600px;
}
h2{
    color: rgb(0, 138, 170);
}
p{
    font-weight: bold;
}
li{
    font-weight: bold;

}