@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}
body{
    background-color: rgb(229, 229, 229);
}
.colors{
    display: flex;
    margin-left: 170px;
}
.brown{
    padding: 25px;
    margin-top: 10px;
    background-color: rgb(209, 136, 79);
}
.deepblue{
     padding: 25px;
    margin-top: 10px;
     margin-left: 30px;
     background-color: rgb(0, 138, 170);
}
.skyblue{
    margin-top: 10px;
     padding: 25px;
     margin-left: 20px;
     background-color: rgb(58, 184, 216);
}
.home{
    color: rgb(209, 136, 79);
}
.maincontainer{
    background-color: white;
    width: 80%;
    margin: 10px auto;
}
.head{
    display: flex;
    margin-top: 10px;
}
.simage{
    margin-left: 70px;
    width: 100px;
    height: 80px;
}
.whatever{
    margin-top: 40px;
    margin-left: 500px;
    display: flex;
}
.abt{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.sms{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.himage{
    width: 20px;
    height: 20px;
}
.user{
    height: 20px;
    margin-left: 30px;
}
.aboutme{
    margin-left: 5px;
}
.pimage{
    height: 20px;
    margin-left: 30px;
}
.contactme{
    margin-left: 5px;
}
.textcontainer{
    width: 50%;
    margin-left: 80px;
}
.welcome{
    margin-top: 60px;
    color: rgb(59, 186, 219);
}
.welcome:hover{
    text-decoration: underline 3px solid;
}
h2{
    margin-top: 30px;
    font-size: 60PX;
}
.brow{
    color: rgb(209, 136, 79);
}
.container{
    display: flex;
}
.myimg{
    height: 300px;
    border-radius: 0px 0px 0px 150px;
    box-shadow: -13px 0px 0px 0px burlywood;
    
    margin-top: 60px;
    width: 260px;
}
.imagecontainer{
    width: 45%;
    text-align: center;
}
.text{
    margin-top: 30px;
}
.chane{
    color: rgb(0, 138, 200);
}
.links{
    margin-top: 30px;
    display: flex;
    margin-bottom: 60px;
}
.hire{
    padding: 4px 20px 4px 20px;
    border-radius: 3px;
    box-shadow: 0px 10px 0px 0px rgb(198, 228, 255);
    background-color: rgb(0, 138, 200);
    color: white;
}
.project{
    margin-left: 30px;
    padding: 4px 15px 4px 15px;
    border-radius: 3px;
    border: 1px solid rgb(0, 138, 200); 
    color: rgb(0, 138, 200);
}
.projectlink{
    text-decoration: none;
    color: rgb(0, 138, 200);
}